/* Include this style in your CSS or use a CSS-in-JS solution */

.like-button {
    display: inline-block;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  .like-button.liked {
    background-color: rgba(163, 60, 90, 1);
  }
  
  .heart-icon {
    color:white;
    font-size: 20px;
    
  }
  
  